.container  {
    width: 100%;
    min-height: 95vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 2rem 1rem;
}

.fallback-container {
    width: 100vw;
    min-height: 95vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 35rem) {
    .container  {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 45rem) {
    .container  {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 55rem) {
    .container  {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 65rem) {
    .container  {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 80rem) {
    .container  {
        grid-template-columns: repeat(7, 1fr);
    }
}