$HomeSVG: url(/home.svg);

nav {
  background-color: $NavBGColor;

  height: $NavHeight;
  padding: 0.25rem 0.5rem;
  position: sticky;
  top: 0;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  z-index: 10;

  .home {
    width: 2rem;
    height: 2rem;
    z-index: 10;
    mask: $HomeSVG no-repeat center / contain;
    -webkit-mask: $HomeSVG no-repeat center / contain;
    background-color: map-get($map: $colors, $key: "darkwhite");
  }


}
.btn-nav {
  justify-self: flex-end;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}