$HomeSVG: url(/home.svg);

nav {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: .25rem 1rem;
    gap: 2rem;
    .home {
        width: 2rem;
        height: 2rem;
        mask: $HomeSVG no-repeat center / contain;
        -webkit-mask: $HomeSVG no-repeat center / contain;
        background-color: map-get($map: $colors, $key: "darkwhite");
    }
}