.dash-collection-title {
    background-color: transparent;
    font-size: map-get($map: $font-sizes, $key: "xl" );
    font-weight: map-get($map: $font-weights, $key:    "bold");
    text-decoration: solid underline 2px map-get($map: $colors, $key: "darkwhite");
    text-underline-offset: .3rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
}

.dash-collection {
    display: grid;
    background-color: transparent;
    gap: 2rem;

    & .dash-item {
        display: flex;
        flex-direction: column;
        border-radius: 0.25rem;
        outline: 2px solid map-get($map: $colors, $key: "lightwhite");
        background-color: transparent;
        gap: .75rem;
        width: 100%;
        height: 100%;
        padding: .5rem .75rem;
        & .dash-item-title {
            background-color: transparent;
            text-underline-offset: .5rem;
            text-decoration: underline solid map-get($map: $colors, $key: "darkwhite");
            font-size: map-get($map: $font-sizes, $key: "md" );
        }

        & .dash-item-desc {
            background-color: transparent;
            font-size: map-get($map: $font-sizes, $key: "sm" );
        }
    }
}