$bgList: map-get($map: $colors, $key: "darkblack") 0%, lighten(map-get($map: $colors, $key: "lightblack"), 5%) 100%;

.dash-body {
    width: 100%;
    min-height: 97vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include gradient(90deg, $bgList);

    & .dash-title {
        background-color: transparent;
        text-underline-offset: .5rem;
        text-decoration: underline wavy map-get($map: $colors, $key: "darkwhite");
    }

    & .dash-container {
        background-color: transparent;
        width: 80%;
    
    }
}


