.dash-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 80rem;

  & form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    outline: 2px solid map-get($map: $colors, $key: "lightwhite");
    border-radius: 1rem;
    padding: 1rem 2rem;
    gap: 2rem;
    align-items: center;
    & h2 {
      font-size: map-get($map: $font-sizes, $key: "xl");
      text-align: center;
    }

    & .form-head {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 2rem;
      border-bottom: 1px solid map-get($map: $colors, $key: "darkgray");
      padding-bottom: 1.5rem;

      & button {
        color: map-get($map: $colors, $key: "lightwhite");
        border: none;
        outline: 2px solid map-get($map: $colors, $key: "lightwhite");
        font-size: map-get($map: $font-sizes, $key: "md");
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        transition: .5s ease-in-out;

        &:hover {
          color: lighten(map-get($map: $colors, $key: "lightwhite"), 5% );
          background-color: lighten(map-get($map: $colors, $key: "lightblack"), 10% );
        }
      }

      & input {
        border: none;
        outline: 2px solid map-get($map: $colors, $key: "lightwhite");
        font-size: map-get($map: $font-sizes, $key: "md");
        border-radius: 0.25rem;
        height: max-content;
      }
    }

    & .form-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    & button {
      width: 10rem;
    }

    & input {
      color: map-get($map: $colors, $key: "lightwhite");
      height: 1rem;
      padding: 0.25rem 0.5rem;
      font-size: map-get($map: $font-sizes, $key: "sm");
    }
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      display: none;
    }
  }
}


.blob {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  & h3 {
    margin: 0;
    font-size: map-get($map: $font-sizes, $key: "md" );
  }

  & input[type="text"] {
    width: 100%;
    border: none;
    outline: 2px solid map-get($map: $colors, $key: "lightwhite");
    font-size: map-get($map: $font-sizes, $key: "sm");
    border-radius: 0.25rem;
    height: max-content;
  }

  & textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: 2px solid map-get($map: $colors, $key: "lightwhite");
    font-size: map-get($map: $font-sizes, $key: "sm");
    border-radius: 0.25rem;
    height: max-content;
    color: map-get($map: $colors, $key: "lightwhite");
  }
}