.dash-row {
  display: grid;
  background-color: transparent;
  gap: 2rem;

  & .dash-col {
    display: flex;
    border-radius: 0.25rem;
    outline: 2px solid map-get($map: $colors, $key: "lightwhite");
    background-color: transparent;
    width: 100%;

    & .dash-card {
      padding: 0 2rem;
      background-color: map-get($map: $colors, $key: 'darkgray' );
      width: 100%;
      height: 100%;
      & h2 {
        background-color: transparent;
      }
    }
  }
}

.dash-nav {
  display: grid;
  background-color: transparent;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 47rem) {
  .dash-nav {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 80rem) and (min-width: 47rem) {
  .dash-nav {
    grid-template-columns: repeat(2, 1fr);
  }

}