.movie {
    & .backdrop {
        height: calc(100vh - 5rem);
        overflow: hidden;
        display: none;
        & .backposter {
            height: calc(100vh - 5rem);
            width: 100vw;
            background-size: cover;
            background-position: center;
        }
        & .shade {
            background-color: rgba($color: #000000, $alpha: 0.8);
            position: absolute;
            top: 0;
            height: 100vh;
            width: 100%;

        }
    }
    & .details {
        position: absolute;
        top: 5rem;
        display: grid;
        padding: 0.25rem;
        width: calc(100vw - .5rem);
        gap: 1rem;
        background-color: transparent;
        height: calc(100vh - 5.5rem);
        align-items: center;
        padding-bottom: 5rem;
        
        & .poster {

            width: 10rem;
            aspect-ratio: 2/3;

            background-size: contain;
            background-repeat: no-repeat;

            border-radius: .375rem;
            outline: .25rem solid map-get($map: $colors, $key: "darkwhite");

            justify-self: center;
        }
        & .text {
            width: 90vw;
            margin-left: 5vw;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            background-color: inherit;

            & .title {
                background-color: inherit;
                
                
                font-size: map-get($map: $font-sizes, $key: "xl" );
                font-weight: map-get($map: $font-weights, $key:    "bold");
                text-decoration: solid underline 2px map-get($map: $colors, $key: "darkwhite");
                text-underline-offset: .3rem;
            }
            & .rating {
                font-size: map-get($map: $font-sizes, $key: "md" );
                justify-self: center;
                background-color: inherit;
                
            }

            & .technical {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-size: map-get($map: $font-sizes, $key: "sd" );
                background-color: inherit;

                & .quality {
                    background-color: inherit;

                }
                & .year {
                    background-color: inherit;
                    
                }
            }

            & .description {
                font-size: map-get($map: $font-sizes, $key: "sd" );
                font-weight: map-get($map: $font-weights, $key: "bold");
                text-decoration: solid underline 2px map-get($map: $colors, $key: "darkwhite");
                text-underline-offset: .15rem;
                background-color: inherit;
            }
            & .description-api {
                margin-top: -1.8rem;
                text-align: justify;
                width: 100%;
                background-color: inherit;
                height: max-content;
            }
        }    
    }
}

@media screen and (min-width: 30rem) {
    .movie {
        & .backdrop {
            display: block;
        }
        & .details  {
            grid-template-columns: 11rem 1fr;
            & .poster {
                justify-self: flex-end;
            }
            
            & .text {
                gap: .5rem;
                width: 30rem;
                font-size: map-get($map: $font-sizes, $key: "sm");
                
                & .title {
                    font-size: map-get($map: $font-sizes, $key: "md");
                }
                & .rating {
                    font-size: map-get($map: $font-sizes, $key: "sm" );;
                    
                }
                & .description-api {
                    margin-top: 0;
                    width: 100%;
                }

            }
            
        }
    }
}


@media screen and (min-width: 55rem) {
    .movie {
        & .backdrop {
            display: block;
        }
        & .details  {
            padding-bottom: 0;

            grid-template-columns: 30rem 1fr;

            max-width: 90vw;

            & .poster {
                justify-self: flex-end;
                width: 25rem;
            }

            & .text {
                width: 100%;
            }
        }
    }

}

@media screen and (min-width: 90rem) {
    .movie {
        & .details  {
            

            & .text {
                width: 100%;

            }
        }
    }
}

@media screen and (min-width: 80rem) {
    .details  {
        grid-template-columns: repeat(7, 1fr);
    }
}