$Passive : map-get($map: $colors, $key: "lightgray");
$Active : map-get($map: $colors, $key: "lightwhite");

.movies {
    & .header {
        background-color: $NavBGColor;
        padding: .5rem 0;
        width: 100%;
        position: sticky;
        top: 0;
        margin-bottom: 1rem;

        & .nav {
            padding: 0 1rem;
            height: 100%;
            background-color: $NavBGColor;
            display: grid;
            grid-template-columns:15% 1fr;
            gap: 2rem;
            & .count {
                display: flex;
                flex-direction: row;
                gap: .5rem;
                background-color: $NavBGColor;
                align-items: center;
            }
            & .search {
                background-color: $NavBGColor;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                & input {
                    width: 90%;
                    border-radius: .25rem;
                    outline: none;
                    box-shadow: none;
                    border: 1px solid map-get($map: $colors, $key: "lightwhite") ;
                    padding: .25rem .5rem;
                    color: map-get($map: $colors, $key: "lightwhite");
                }

                & .icon {
                    aspect-ratio: 1;
                    background-color: map-get($map: $colors, $key: "lightwhite");
                    width: 1.5rem;
                    mask-mode: auto;
                    -webkit-mask-image: url("/search.svg");
                    mask-image: url("/search.svg");
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat; 
                }
            }
        }
        & .c-div {
            background-color: lighten($color: $SecondaryColor, $amount: 15%);
            padding: .15rem .275rem;
            border-radius: .5rem;
            font-weight: map-get($map: $font-weights, $key: "medium");
        }
    }
}

.none {
    display: none;
}


@media screen and (min-width: 35rem) {
    .movies {
        & .header {
            & .nav {
                grid-template-columns: 15% 1fr 15%;
                & .search {
                    & input {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 45rem) {
    .movies {
        & .header {
            & .nav {
                grid-template-columns: 10% 1fr 10%;
                & .search {
                    & input {
                        width: 55%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 55rem) {
    .movies {
        & .header {
            & .nav {
                grid-template-columns: 8% 1fr 8%;
                & .search {
                    & input {
                        width: 40%;
                    }
                }
            }
        }
    }
}
