$Passive : map-get($map: $colors, $key: "lightgray");
$Active : map-get($map: $colors, $key: "lightwhite");

.movies {
    .header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 15% 1fr 15%;
        width: 100%;
        .selectors {
            padding: .5rem 0 .5rem 1rem ;
            justify-self: flex-start;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            .b-div {
                display: grid;
                grid-template-columns: 60% 40%;
                grid-template-rows: 1rem 1fr;
                align-items: center;
                color: $Passive;
                gap: .3rem;

                .point {
                    margin: auto;
                    width: .75rem;
                    aspect-ratio: 1/1;
                    background-color: $Passive;
                    mask-mode: auto;
                    -webkit-mask-image: url("/point.svg");
                    mask-image: url("/point.svg");
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat; 
                    transform: rotate(90deg);
                }
                &:hover {
                    cursor: pointer;
                    color: $Active;
                    .point {
                        background-color: $Active;
                    }
                }
                
            }
        }
        .c-div {
            background-color: lighten($color: $SecondaryColor, $amount: 15%);
            padding: .15rem .275rem;
            border-radius: .5rem;
            font-weight: map-get($map: $font-weights, $key: "medium");
        }
        .title {
            justify-self: center;
            font-size: map-get($map: $font-sizes, $key: "md");
            font-weight: map-get($map: $font-weights, $key: "medium" );
            text-underline-offset: .3rem;

            text-decoration: solid underline 2px map-get($map: $colors, $key: "darkwhite");
        }
    }
}

.none {
    display: none;
}